{% extends "base.html" %} {% block content %}
<form
  class="login-container"
  name="forgot-password-form"
  method="post"
  action="/forgot-password"
>
  <img height="48" width="48" src="/static/svg/logo.svg" alt="logo" />
  <h4>Forgot your password?</h4>
  <p>
    Enter your email address below and we'll send you instructions to reset your
    password.
  </p>
  <div class="input-base-section full-width">
    <div class="input-base-container full-width">
      <input
        id="email"
        name="email"
        type="email"
        class="input-base-item full-width"
        placeholder="Enter your email"
      />
    </div>
  </div>
  <button class="submit-button" type="submit">Reset Password</button>
</form>
{% endblock content %}
